.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card{
  background-color: rgb(178, 207, 231);
  width: 55%;
  min-width: 555px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
}
.coin{
  background-color: rgb(178, 207, 231);;
}
.coin img{
  width: 60px;
  height: auto;
  border-radius: 50%;
}
h1{
  background: rgb(178, 207, 231);
  font-size: 30px;
  margin-bottom: 2rem;
  font-weight: 100;
  color: rgb(61, 36, 5);
}
.input_label{
  background-color:  rgb(187, 240, 240);
  color: rgb(25, 57, 46);
}
.currency_exchnage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(187, 240, 240);
  border-radius: 5px;
}
.input_container{
  width: 30%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color:  rgb(187, 240, 240);
  border-radius: 10px;
}
.input_field{
  width: auto;
  height: 60px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(5, 5, 5, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.input_field:focus{
  border: 1px solid #1f700d;
  box-shadow: 0px 0px 0px #242824;
  background-color: #86b587;
}
.output
{
  margin-top: 10px;
  width: 60%;
  background:#95b71b;
  border: 1px solid #194a0e;
  border-radius: 20px;
  display:flex ;
  align-items: center;
  justify-content: center;
}
 
 
h2
{
  font-size: 20px;
  font-weight: 100;
  width: 80%;
  /* margin-top: 20px; */
  background-color:#95b71b;
  padding: 26px;
  border-radius: 10px;
}
